.DS_Store
.tox/
*pyc
text_preparation/data/tmp/
text_preparation/data/temp/
text_preparation/data/out_pauline/
text_preparation/data/canonical_out/*/*/*/*/*/*.json
text_preparation/data/logs/importer_logs/debug_*
text_preparation/data/logs/BL_processing_logs/*
text_preparation/data/logs/importer_logs/playground_*
text_preparation/data/logs/rebuilt_logs/debug_*
text_preparation/data/logs/test_logs/*
text_preparation/data/sample_data/BCUL/171722
.pytest_cache
*.egg-info
.ipynb_checkpoints/
text_preparation/data/cahier-de-charges-mets-alto2016
dask-worker-space/
worker-*
.idea/
dist/*
docs/node_modules
old_text_importer/*
text_preparation/data/sample_data/BCUL/257179/*
*.jp2
*.pdf
text_preparation/data/sample_data/BCUL/*/*/*/*/*/solr/*
text_preparation/data/out/FedGazDe/1857/01/10/*
text_preparation/data/out/FedGazDe/1857/01/17/*
text_preparation/data/out/FedGazDe/1857/01/24/*
text_preparation/data/out/FedGazDe/1857/01/31/*
text_preparation/data/out/FedGazDe/1857/09/*
text_preparation/data/out/FedGazDe/1857/10/*
text_preparation/data/out/pages/FedGazDe-1857-09*-pages.jsonl.bz2
text_preparation/data/out/pages/FedGazDe-1857-10*-pages.jsonl.bz2
text_preparation/data/out/pages/FedGazDe-1857-01-10*-pages.jsonl.bz2
text_preparation/data/out/pages/FedGazDe-1857-01-17*-pages.jsonl.bz2
text_preparation/data/out/pages/FedGazDe-1857-01-24*-pages.jsonl.bz2
text_preparation/data/out/pages/FedGazDe-1857-01-31*-pages.jsonl.bz2
text_preparation/data/out/FedGazDe-2013-issues.jsonl.bz2
text_preparation/data/canonical_out/test_out/*
text_preparation/config/importer_config/import_*debug*.json
text_preparation/config/importer_config/import_*_*.json
text_preparation/config/rebuilt_config/debug*
