[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

"bs4" = "*"
docopt = "*"
pandas = "*"
dask = {extras = ["complete"]}
lxml = "*"
python-jsonschema-objects = "*"
jsonlines = "*"
boto = "*"
impresso_commons = {git = "ssh://git@github.com/impresso/impresso-pycommons.git", editable = true}


[dev-packages]

pytest = "*"
ipython = "*"
ipdb = "*"
smart-open = "*"
jupyter = "*"
"flake8" = "*"
isort = "*"


[requires]

python_version = "3.6"
