[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

"bs4" = "*"
docopt = "*"


[dev-packages]

pytest = "*"
ipython = "*"


[requires]

python_version = "3.6"
