aiobotocore>=2.5.4
aiohttp>=3.8.5
aioitertools>=0.11.0
aiosignal>=1.3.1
alabaster>=0.7.13
anyio>=3.7.1
appnope>=0.1.3
argon2-cffi>=23.1.0
argon2-cffi-bindings>=21.2.0
arrow>=1.2.3
asttokens>=2.4.0
async-lru>=2.0.4
async-timeout>=4.0.3
attrs>=23.1.0
Babel>=2.12.1
backcall>=0.2.0
beautifulsoup4>=4.12.2
bleach>=6.0.0
bokeh>=3.2.2
boto>=2.49.0
boto3>=1.28.43
botocore>=1.31.45
cachetools>=5.3.1
certifi>=2023.7.22
cffi>=1.15.1
chardet>=5.2.0
charset-normalizer>=3.2.0
click>=8.1.7
cloudpickle>=2.2.1
colorama>=0.4.6
colorclass>=2.2.2
comm>=0.1.4
contourpy>=1.1.0
dask>=2023.9.3
dask-kubernetes>=2023.9.0
debugpy>=1.7.0
decorator>=5.1.1
defusedxml>=0.7.1
Deprecated>=1.2.14
distlib>=0.3.7
distributed>=2023.9.3
docopt>=0.6.2
docutils>=0.18.1
epfml-utils>=0.0.13
executing>=1.2.0
fastjsonschema>=2.18.0
filelock>=3.12.3
flake8>=6.1.0
fqdn>=1.5.1
frozenlist>=1.4.0
fsspec>=2023.9.0
google-auth>=2.23.3
h11>=0.14.0
httpcore>=0.17.3
httpx>=0.24.1
idna>=3.4
imagesize>=1.4.1
importlib-metadata>=6.8.0
git+https://git@github.com/impresso/impresso-pycommons.git@f6a6c5511c35ad6094d60906706169063e7979d4#egg=impresso_commons
inflection>=0.5.1
iniconfig>=2.0.0
ipdb>=0.13.13
ipykernel>=6.25.2
ipython>=8.15.0
ipython-genutils>=0.2.0
ipywidgets>=8.1.0
iso8601>=2.1.0
isoduration>=20.11.0
isort>=5.12.0
jedi>=0.19.0
Jinja2>=3.1.2
jmespath>=1.0.1
json5>=0.9.14
jsonlines>=4.0.0
jsonpointer>=2.4
jsonschema>=4.19.1
jsonschema-specifications>=2023.7.1
jupyter>=1.0.0
jupyter-console>=6.6.3
jupyter-events>=0.7.0
jupyter-lsp>=2.2.0
jupyter_client>=8.3.1
jupyter_core>=5.3.1
jupyter_server>=2.7.3
jupyter_server_terminals>=0.4.4
jupyterlab>=4.0.5
jupyterlab-pygments>=0.2.2
jupyterlab-widgets>=3.0.8
jupyterlab_server>=2.24.0
kopf>=1.36.2
kr8s>=0.8.16
kubernetes>=28.1.0
kubernetes-asyncio>=28.2.0
locket>=1.0.0
lxml>=4.9.3
lz4>=4.3.2
Markdown>=3.4.4
markdown-it-py>=3.0.0
MarkupSafe>=2.1.3
matplotlib-inline>=0.1.6
mccabe>=0.7.0
mdurl>=0.1.2
mistune>=3.0.1
msgpack>=1.0.5
multidict>=6.0.4
nbclient>=0.8.0
nbconvert>=7.8.0
nbformat>=5.9.2
nest-asyncio>=1.5.7
notebook>=7.0.3
notebook_shim>=0.2.3
numpy>=1.25.2
oauthlib>=3.2.2
opencv-python>=3.4.18.65
overrides>=7.4.0
packaging>=23.1
pandas>=2.1.0
pandocfilters>=1.5.0
parso>=0.8.3
partd>=1.4.0
pathspec>=0.11.2
pexpect>=4.8.0
pickleshare>=0.7.5
Pillow>=10.0.0
pip-upgrader>=1.4.15
pipenv>=2023.10.3
platformdirs>=3.10.0
pluggy>=1.3.0
prometheus-client>=0.17.1
prompt-toolkit>=3.0.39
psutil>=5.9.5
ptyprocess>=0.7.0
pure-eval>=0.2.2
pyarrow>=13.0.0
pyasn1>=0.5.0
pyasn1-modules>=0.3.0
pycodestyle>=2.11.0
pycparser>=2.21
pyflakes>=3.1.0
Pygments>=2.16.1
pykube-ng>=23.6.0
pyproject-api>=1.6.1
pyrsistent>=0.19.3
pytest>=7.4.2
python-box>=7.1.1
python-dateutil>=2.8.2
python-json-logger>=2.0.7
python-jsonpath>=0.7.1
python-jsonschema-objects>=0.5.0
pytz>=2023.3.post1
PyYAML>=6.0.1
pyzmq>=25.1.1
qtconsole>=5.4.4
QtPy>=2.4.0
referencing>=0.30.2
regex>=2023.8.8
requests>=2.31.0
requests-oauthlib>=1.3.1
rfc3339-validator>=0.1.4
rfc3986-validator>=0.1.1
rich>=13.6.0
rpds-py>=0.10.2
rsa>=4.9
s3fs>=0.4.2
s3transfer>=0.6.2
Send2Trash>=1.8.2
six>=1.16.0
smart-open>=6.4.0
sniffio>=1.3.0
snowballstemmer>=2.2.0
sortedcontainers>=2.4.0
soupsieve>=2.5
Sphinx>=7.2.5
sphinx-rtd-theme>=1.3.0
sphinxcontrib-applehelp>=1.0.7
sphinxcontrib-devhelp>=1.0.5
sphinxcontrib-htmlhelp>=2.0.4
sphinxcontrib-jquery>=4.1
sphinxcontrib-jsmath>=1.0.1
sphinxcontrib-qthelp>=1.0.6
sphinxcontrib-serializinghtml>=1.1.9
stack-data>=0.6.2
tblib>=2.0.0
terminado>=0.17.1
terminaltables>=3.1.10
tinycss2>=1.2.1
toml>=0.10.2
toolz>=0.12.0
tornado>=6.3.3
tox>=4.11.2
traitlets>=5.9.0
typing_extensions>=4.8.0
tzdata>=2023.3
uri-template>=1.3.0
urllib3>=1.26.16
virtualenv>=20.24.4
wcwidth>=0.2.6
webcolors>=1.13
webencodings>=0.5.1
websocket-client>=1.6.2
widgetsnbextension>=4.0.8
wrapt>=1.15.0
xyzservices>=2023.7.0
yarl>=1.9.2
zict>=3.0.0
zipp>=3.16.2
