beautifulsoup4>=4.13.4
botocore>=1.35.21
dask>=2025.5.1
docopt>=0.6.2
filelock>=3.18.0
fire>=0.7.0
GitPython>=3.1.44
impresso_essentials>=1.1.0
importlib_resources>=6.4.5
jsonlines>=4.0.0
jsonschema>=4.23.0
lxml>=6.0.0
mutagen>=1.47.0
numpy>=2.2.1
opencv-python>=4.10.0.84
pandas>=2.3.1
Pillow>=11.3.0
pytest>=8.3.3
python_jsonschema_objects>=0.5.7
regex>=2024.11.6
Requests>=2.32.4
setuptools>=74.1.2
smart_open>=7.0.4
tqdm>=4.66.5
Sphinx>=7.4.7